@import "header"
@import "footer"

$font-stack: 'Montserrat', sans-serif
$primary-color1: #29A79E
$primary-color2: #90C73E


*
  box-sizing: border-box
  padding: 0
  margin: 0
  font-family: $font-stack
  font-size: 14px

body
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: repeat(5, auto)

.paralax-image
  grid-row: 2
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: minmax(40px, auto)
  width: 100%
  height: 100vh
  background: url("../images/paralax-image.png") no-repeat center center fixed
  background-size: cover

  p
    grid-column: 1 / 2
    grid-row: 2
    text-align: center
    height: 40%
    font-size: 28px
    transform: translate(70px, -70px)
    z-index: 1

  h1
    @extend p
    font-size: 38px
    transform: translate(70px, -120px)
    z-index: 1


main
  grid-row: 3
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  grid-auto-rows: minmax(100px, auto)
  justify-items: center
  align-items: center
  padding: 100px 0

  div
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 150px auto
    justify-items: center
    width: 95%
    padding-bottom: 20px
    text-align: center

    .service-image
      grid-row: 1
      .bg
        background-size: cover
        width: 100%
        height: 150px
        border: 1px solid $primary-color2
        border-bottom: none
      .office
        background: url("../images/emma-matthews-schedule-unsplash.png") no-repeat center center
      .document
        background: url("../images/alberto-castillo-q-346020-unsplash-copy.png") no-repeat center center
      .home
        background: url("../images/rawpixel-626045-unsplash.png") no-repeat center center
      .wardrobe
        background: url("../images/fancycrave-254187-unsplash.png") no-repeat center center
      p
        color: #ffffff
        position: relative
        top: -130px
        visibility: hidden
        -webkit-transition: all 0.2s linear
        transition: all 0.2s linear

    .service-image:hover
      cursor: pointer
      p
        visibility: visible
        -webkit-transition: all 0.2s linear
        transition: all 0.2s linear
        font-size: 20px
        font-weight: bold
        color: #ffffff
        text-shadow: 3px 3px 8px rgb(42, 38, 49)
      .bg
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5)
        -webkit-transition: all 0.2s linear
        transition: all 0.2s linear

    .description-box
      grid-row: 2
      border: 1px solid #29A79E
      border-top: none
      width: 80%
      align-items: center

.about-me
  grid-row: 4
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr))
  grid-auto-rows: minmax(100px, auto)
  grid-gap: 20px
  justify-items: center
  padding-top: 20px

  div:nth-child(1)
    align-items: center
    justify-self: center
    text-align: center
    img
      width: 85%
      margin: 0 auto

  div:nth-child(2)
    align-items: center
    justify-self: center
    text-align: left
    p
      padding: 10px 20px
      margin: 20px
    ul
      li
        ul
          list-style-position: inside

//============ Office ==================


.paralax-image-office
  @extend .paralax-image
  grid-row: 3
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: minmax(100px, auto)
  width: 100%
  height: 30vh
  background: url("../images/emma-matthews-schedule-unsplash-banner.png") no-repeat center center fixed
  background-size: cover

.office-tag
  grid-column: 1 / -1
  grid-row: 2
  text-align: center
  font-size: 38px
  font-weight: bold
  margin-top: 100px
  padding: 20px

.office-main
  grid-row: 4
  article
    justify-items: center
    width: 80%
    margin: auto
    font-size: 18px
    ul
      list-style-position: inside
      padding-top: 5px

//================ Documents ============

.paralax-image-documents
  @extend .paralax-image-office
  background: url("../images/alberto-castillo-qunsplash-banner.png") no-repeat center center fixed
  background-size: cover


.documents-tag
  @extend .office-tag

.documents-main
  @extend .office-main

//================ Home organizing ============

.paralax-image-homeorg
  @extend .paralax-image-office
  background: url("../images/rawpixel-document-unsplash-banner.png") no-repeat center center fixed
  background-size: cover


.homeorg-tag
  @extend .office-tag

.homeorg-main
  @extend .office-main
  p
    font-size: 18px
    padding-top: 7px

//================ Wardrobe ============

.paralax-image-wardrobe
  @extend .paralax-image-office
  background: url("../images/rawpixel-document-unsplash-banner.png") no-repeat center center fixed
  background-size: cover


.wardrobe-tag
  @extend .office-tag

.wardrobe-main
  @extend .homeorg-main
